.task {
  padding: 4px 0;
}

.mainContent {
  border-radius: var(--border-radius-first);
  min-height: 36px;
  background-color: #fff;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  padding: 8px 12px;
}

.mainContent:hover {
  /* outline: 2px solid #388bff; */
  outline: 2px solid rgba(56, 139, 255, 0.25);
}

.title {
  font-size: 14px;
  font-weight: 300;
  /* margin-bottom: 4px; */
}

.descriptionIcon {
  display: block;

  width: 16px;
  height: 16px;
}
