.buttonClose {
  border: none;
  background-color: inherit;
  font-size: 14px;
  color: #172b4d;
  border-radius: 8px;

  &.small {
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: #d0d4db;
  }
}
