.headerTop {
  display: flex;
}

.logo {
  display: block;
  transform: scale(0.6);
}

.list {
  display: flex;
}

.link {
  &:hover {
    transition: 0.1s;
    color: rgba(255, 165, 0, 0.2);
  }

  &.active {
    color: orange;
  }
}
